@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

/*------------------ обнуляющий список ----------------------*/
@font-face {
  font-family: Monstserrat-Regular;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Couture-Bold;
  src: url(../fonts/Couture-Bold.otf);
}
@font-face {
  font-family: PTSerif-Regular;
  src: url(../fonts/PTSerif-Regular.ttf);
}
html {
  height: 2092px;
}

body {
  width: 1200px;
  height: 2092px;
  margin: 0px auto;
}

.header {
  width: 1200px;
  height: 688px;
  background-image: url(../img/bcg-up-1.webp), url(../img/bcg-up-2.webp);
  padding: 38px 0px 0px 0px;
}
.header__menu {
  width: 1012px;
  height: 94px;
  margin: 0px 104px 0px 84px;
}
.header__info {
  width: 483px;
  height: 258px;
  margin: 125px 0px 0px 102px;
}

.menu {
  display: flex;
  justify-content: space-between;
}
.menu__words {
  width: 520px;
  height: 37px;
}

.words {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 22px 0px 35px 0px;
}
.words__link a {
  font-family: Monstserrat-Regular;
  font-size: 18px;
  color: #fff;
  letter-spacing: -0.36px;
}
.words__link_border a {
  width: 85px;
  height: 37px;
  background-color: #130e27;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.words__link_border a:hover {
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
}

.info__title {
  white-space: nowrap;
  font-family: Montserrat-Bold;
  font-size: 90px;
  line-height: 0.89;
  letter-spacing: -1.8px;
  color: #130e27;
}
.info__title span {
  color: #ffffff;
}
.info__subtitle {
  margin: 34px 0px 0px 1px;
  font-family: PTSerif-Regular;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.4px;
  text-align: left;
  color: #fff;
}

.main {
  width: 1200px;
  height: 1216px;
}
.main__service {
  height: 482px;
}
.main__story {
  border: 1px solid black;
  height: 120px;
}
.main__price {
  height: 614px;
}

.service {
  width: 992px;
  padding-top: 38px;
  margin: 0px auto 0px;
  display: flex;
  flex-direction: column;
}
.service__title {
  margin: 0px 0px 0px 6px;
  font-family: Couture-Bold;
  font-size: 50px;
  letter-spacing: -1px;
  color: #130e27;
}
.service__title span {
  color: #c62314;
}
.service__row-info-one {
  height: 250px;
}

.row-info-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.row-info-one__column-one {
  width: 175px;
  height: 250px;
}

.column-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.column-one__text {
  margin: 40px 0px 0px 0px;
  font-family: PTSerif-Regular;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.4px;
  text-align: center;
  color: #161616;
}

.story {
  display: flex;
  align-items: center;
  background-color: #130e27;
}
.story__text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 610px;
  height: 64px;
  font-family: PTSerif-Regular;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.4px;
  color: #fff;
  margin-left: 115px;
}
.story__link {
  width: 269px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
}
.story__link a {
  width: 269px;
  height: 64px;
  background-color: #c62314;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Monstserrat-Regular;
  font-size: 22px;
  letter-spacing: -0.44px;
  color: #fff;
  transition-duration: 500ms;
}
.story__link a:hover {
  transition-duration: 500ms;
  background-color: #9f1f13;
  width: 230px;
}

.price {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.price__title {
  font-family: Montserrat-Bold;
  font-size: 50px;
  letter-spacing: -1px;
  text-align: left;
  color: #130e27;
}
.price__row-info-two {
  width: 1000px;
  height: 392px;
}

.row-info-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.row-info-two__column-two {
  width: 318px;
  height: 392px;
}

.column-two {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
}
.column-two__suptitle {
  font-family: PTSerif-Regular;
  font-size: 22px;
  letter-spacing: -0.44px;
  color: #161616;
}
.column-two__title {
  font-family: Montserrat-Bold;
  font-size: 60px;
  letter-spacing: -1.2px;
  color: #c62314;
}
.column-two__subtitle {
  font-family: PTSerif-Regular;
  font-size: 20px;
  letter-spacing: -0.4px;
  color: #161616;
  text-align: center;
}
.column-two__link a {
  font-family: Monstserrat-Regular;
  font-size: 22px;
  letter-spacing: -0.44px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 205px;
  height: 49px;
  background-color: #130e27;
  border-radius: 3.8px;
  transition-duration: 500ms;
}
.column-two__link a:hover {
  transition-duration: 500ms;
  background-color: #191235;
  width: 170px;
}
.column-two__link_r a {
  background-color: #c62314;
}
.column-two__link_r a:hover {
  background-color: #9f1f13;
}

.footer {
  height: 188px;
  background-color: #130e27;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__info {
  width: 560px;
  height: 69px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: PTSerif-Regular;
  font-size: 20px;
  letter-spacing: -0.4px;
  color: #fff;
}
.footer__info span {
  margin-left: 4px;
  color: #c62314;
}